button{
    color:red;
    background-color: yellow;
}
body{
    background-color: lightblue;
}
h1{
    background-color: red;
}
.h2{
    background-color: green;
    color:lightsalmon;
}
[href$=".com"] {
    color: green;
} 
.table,tr,th,td{
    border: 1px solid;
}