
.home {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0px; 
    left: 20px; 
    bottom: 700px;
    right: 1500px;
    border-radius: 100;
}
.news {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0px; 
    left: 100px; 
    bottom: 700px;
    right: 1500px;
    border-radius: 150;
}
.contact{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0px; 
    left: 200px;
    bottom: 700px;
    right: 1500px;
    border-radius: 100;
}



